
# exclude env from going in docker
.venv
venv/

.venv-api
venv-api/
.venv-bot
venv-bot/
src/api/venv-api
src/bot/venv-bot

# exclude notebooks because not needed in docker
notebooks/

# exclude gif
resources/hmhm.gif