<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<br>
<blockquote>
    <p>{{ joke }}</p>
</blockquote>
<p>Rate the joke!</p>
<a href="http://{{ host }}:{{ port }}/jokes/rating/{{ joke_id }}/{{ id_hash }}/0"><font size="+2">&nbsp;0&nbsp;</font></a>
<a href="http://{{ host }}:{{ port }}/jokes/rating/{{ joke_id }}/{{ id_hash }}/2.5"><font size="+2">&nbsp;2.5&nbsp;</font></a>
<a href="http://{{ host }}:{{ port }}/jokes/rating/{{ joke_id }}/{{ id_hash }}/5"><font size="+2">&nbsp;5&nbsp;</font></a>
<a href="http://{{ host }}:{{ port }}/jokes/rating/{{ joke_id }}/{{ id_hash }}/7.5"><font size="+2">&nbsp;7.5&nbsp;</font></a>
<a href="http://{{ host }}:{{ port }}/jokes/rating/{{ joke_id }}/{{ id_hash }}/10"><font size="+2">&nbsp;10&nbsp;</font></a>

<br>
<p>{{ signature }}</p>
<hr>
<p><sub>{{ disclaimer }}</sub></p>
</body>
</html>